/* Container */
#container {
  width: 280px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

/* Heading */
h1 {
  margin: 0 0 10px 0;
  text-align: center;
  text-decoration: underline;
}

/* Notification card */
.notification {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Image */
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}

/* Text */
p {
  margin: 0;
}

/* Username */
.user {
  font-weight: bold;
}

/* Time */
.time {
  display: block;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

/* Button */
button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #02203c;
  color: white;
  border: none;
  border-radius: 10px;
}
