/*  your css code here. If applicable */
/* Container */
#container {
  width: 280px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
}

/* Heading */
#container h2 {
  margin: 0;
  margin-bottom: 10px;
}

/* Notifications wrapper */
.notification {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  margin: 0 auto 10px auto;
  padding: 10px;

  background-color: white;
  border-radius: 10px;
}

/* Notification image */
.notification img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
}

/* Notification text */
.notification p {
  margin: 0;
}

/* Bold username */
.notification .user {
  font-weight: bold;
}

/* Time text */
.notification .time {
  display: block;
  margin-top: auto;
  text-align: right;

  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

/* View More button */
button {
  display: block;
  margin-top: 10px;

  padding: 10px;
  font-size: 16px;

  background-color: #02203c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
